 body{
  height:auto;
  width: 100%;
  background-size: cover;
  /* background-image: url("https://images2.alphacoders.com/100/1008542.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
} 


/* ================ NAV ===================== */

/* ===================== FIN NAV ================================ */


/* ============================================================== */

/* ===================== NEW TASK =============================== */

  /* ======================= MEDIA QUERIES NEW TASK ==================================== */


/* ================== FIN NEW TASK =============================== */

/* =============================================================== */

/* =================== PROFILE =================================== */

  
/* ======================= FIN PROFILE ============================= */

/* ================================================================= */

/* ======================= CLOCK ============================= */


.titulo-reloj {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
      1px 1px 0 black;
  }
  
  .image-ironhack2 {
    margin-top: 75px;
    width: 80px;
  }
  
  #elemento {
    position: absolute;
    top: 500px;
    left: 705px;
    transform: translate(-50%, -50%);
    animation: pulse 1s ease-in-out infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  .link-clock2 {
    color:gold;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 20px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
 
  /* ========== MEDIA QUERIES CLOCK ================================ */

  @media (max-width: 768px) {
    /* Estilos que se aplican cuando el ancho de la pantalla es menor o igual a 768px */
    .image-ironhack2 {
      display: flex;
      justify-content: center;
      margin-left: 25px;
      margin-top: 100px;
      width: 70px;
    }
  
    #elemento {
      position: absolute;
      top: 80%;
      left: 35%;
      transform: translate(-50%, -50%);
      animation: pulse 2s ease-in-out infinite;
    }
  
    @keyframes pulse {
      0% {
        transform: scale(1);
        opacity: 1;
      }
      50% {
        transform: scale(1.2);
        opacity: 0.7;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
  
  @media (max-width: 375px) {
    .image-ironhack2 {
      display: none;
    }
      

  
  }

/* ================= FIN CLOCK ============================== */

/* ========================================================== */



















/* ================= SIGN IN ============================== */


/* ================= FIN SIGN IN ============================== */

/* ============================================================ */


/* ================= SIGN UP ============================== */

/* ==================================================================================== */


/* ===== Home view ================================================================================ */

/* ======================================================================================================= *

/* Account View */